<h1>Welcome to MyShoeFits</h1><br>

<% if not session[:CustID] %>
	<p class="row">New to MyShoeFits? <%= link_to "Give it a try!", td_start_path%></p>
<% end %>
<p class="row">Otherwise <%= link_to "register", signup_path %> or <%=link_to "sign in", signin_path %>.</p><br>

<p class="row"><%= button_to "List of all customers", index_path, {class: "btn btn-large btn-primary", method: :get} %></p>

<p>Made with <%= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org" %></p>