<div class="page-header">
	<h1>New User</h1>
</div>

<%= form_for :newuser, url: signup_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f| %>
	<div class="form-group">
		<%= f.label "Name:", class: "col-xs-3 col-md-offset-2 col-md-2 control-label" %>
		<div class="col-xs-9 col-md-4">
			<%= f.text_field :Name, class: "form-control", placeholder: "enter your name here" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "Email:", class: "col-xs-3 col-md-offset-2 col-md-2 control-label" %>
		<div class="col-xs-9 col-md-4">
			<%= f.email_field :Email, class: "form-control", placeholder: "enter your email address here" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "Confirm Email:", class: "col-xs-3 col-md-offset-2 col-md-2 control-label" %>
		<div class="col-xs-9 col-md-4">
			<%= f.email_field :Email_confirmation, class: "form-control", placeholder: "enter the same email address here" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label "Password:", class: "col-xs-3 col-md-offset-2 col-md-2 control-label" %>
		<div class="col-xs-9 col-md-4">
			<%= f.password_field :password, class: "form-control", placeholder: "enter your password here" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label "Confirm Password:", class: "col-xs-3 col-md-offset-2 col-md-2 control-label" %>
		<div class="col-xs-9 col-md-4">
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "enter the same password here" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label "Gender:", class: "col-xs-3 col-md-offset-2 col-md-2 control-label" %>
		<div class="col-xs-4 col-md-2 radio"><label>
			<%= f.radio_button :Gender, 'M', checked: true %> Male
		</label></div>
		<div class="col-xs-5 col-md-2 radio"><label>
			<%= f.radio_button :Gender, 'F' %> Female
		</label></div>
	</div>

	<%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>

<br><footer class="footer">
	<p>Already a  user? <%= link_to "Sign in here", signin_path %></p>
</footer>