<h1>Prediction</h1>
<p class="row">
	<div class="col-md-4"></div>
	<div class="col-sm-12 col-md-4">
		Based on your data, our amazing algorithms and a little bit of fairy dust, we have concluded that when buying a <%= @parms[:Brand] %> made of <%= @parms[:Material] %> in the <%= @parms[:Style] %> style in the <%= @parms[:SizeType] %> SizeType, the best size for you to buy would be <%= @parms[:prediction] %>, with an uncertainty of <%= @parms[:error] %>.
	</div>
	<div class="col-md-4"></div>
</p>

<p><%= button_to "Back to my profile", home_path, :class => "btn btn-primary", :method => :get %></p>